<mat-card class="professor-card" appearance="raised" *ngIf="professor">

  <img mat-card-image [src]="getProfessorImage()" alt="Foto de {{professor.nome}}">

  <mat-card-content>

    <h3 class="card-nome">{{ professor.nome }}</h3>

    <div class="card-tags">
      <span *ngFor="let catNome of professor.categorias" class="tag">
        {{ catNome }}
      </span>
    </div>

    <div class="card-rating">
      <mat-icon>star</mat-icon>
      <span>{{ professor.mediaAvaliacao | number:'1.1-1' }}</span>
    </div>

    <div class="card-price">
      <span>R$ {{ professor.precoPorHora | number:'1.2-2' }}</span> / hora
    </div>

  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions *ngIf="!hideActions">
    <button mat-flat-button color="primary" (click)="onSolicitarAulaClick()">
      Solicitar aula
    </button>
    <a mat-button routerLink="/perfil-professor/{{professor.idProfessor}}" target="_blank" rel="noopener noreferrer" type="button">
      Ver perfil
    </a>
  </mat-card-actions>

</mat-card>
