
.idea/
**/.vscode/launch.json
backend/.vscode
backend/sistema-agendamento-backend/.vscode/
*.iml
.DS_Store

logs
*.log


backend/sistema-agendamento-backend/target
**/target/

frontend/node_modules/

frontend/dist/
frontend/.angular/cache/

frontend/.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*