mat-form-field{
  width: 100% !important;
}

.grid-form{
  display: grid;
  grid-template-columns: repeat(11, 60px);
  column-gap: 40px;
  grid-template-rows: minmax(360px, auto) minmax(80px, auto);
}

.grid-content{
  grid-column-start: 4;
  grid-column-end: 9;
}

.flex-info{
  display: flex;
  justify-content: space-between;
}

.display-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-login{
  height: 60px !important;
  text-align: center;
}
