






.auth-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 16px;
  min-height: calc(100vh - 120px - 250px);
  background-color: #f8f9fa;
}

.auth-card {
  max-width: 450px; 
  width: 100%;
  padding: 16px;
}

mat-card-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 24px;
}

mat-card-content {
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  mat-form-field {
    width: 100%;
  }
}

.auth-error {
  background-color: #fff0f0;
  color: #c51162;
  padding: 12px;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;

  p {
    margin: 0;
  }
}

.auth-button {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  font-weight: 500;

  mat-spinner {
    display: inline-block;
  }
}

.auth-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 0 0;
  margin-top: 8px;

  span {
    font-size: 0.9rem;
    color: #5a6a85;
  }

  a {
    font-size: 0.9rem;
  }
}





mat-card-subtitle {
  text-align: center;
  color: #5a6a85;
  margin-top: -20px;
  margin-bottom: 24px;
}

.form-subtitle {
  font-weight: 500;
  color: #212529;
  text-align: center;
}


.role-toggle {
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;

  mat-button-toggle {
    width: 50%;
    height: 48px;
    font-weight: 500;

    
    
    ::ng-deep .mat-button-toggle-button {
      color: #5a6a85;
    }
  }

  
  .mat-button-toggle-checked {
    
    background-color: #3f51b5;

    ::ng-deep .mat-button-toggle-button {
      color: white !important; 
    }
  }
}
