<mat-card appearance="outlined" class="card background-theme-light-5">
  <mat-card-header>
      <img class="card-img" mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu" width="108" height="108">
      <span>
        <p class="font-nunito-500">Teste  </p>
        <br>
        <p class="font-nunito-700">Teste  </p>
      </span>
  </mat-card-header>
  <mat-card-content>
    <span class="flex-2">
      <p class="font-nunito">teste</p>
      <p class="font-nunito">teste</p>
    </span>

  </mat-card-content>
</mat-card>
