


.gestao-agenda-container {
  display: flex;
  flex-direction: column;
  gap: 24px; 
}

.form-card {
  padding: 8px 16px 16px 16px; 
}

.form-actions-right {
  display: flex;
  justify-content: flex-end; 
  padding: 0 !important; 
}

mat-divider {
  margin: 24px 0; 
}


.disponibilidade-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dia-disponibilidade-row {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  gap: 16px; 
  padding: 12px;
  border: 1px solid #eee;
  border-radius: 8px;
}

.dia-disponibilidade-row mat-slide-toggle {
  width: 150px; 
  font-weight: 600;
}

.horarios-inputs {
  display: flex;
  gap: 16px;
}

.input-hora {
  width: 140px; 
}



.bloqueio-form-container {
  display: flex;
  flex-wrap: wrap; 
  align-items: flex-start;
  gap: 16px; 

  
  .form-field-flex {
    flex: 1;
    min-width: 200px;
  }

  
  button {
    height: 56px; 
  }
}


.bloqueio-list {
  margin-top: 16px;

  .empty-state {
    text-align: center;
    padding: 20px;
    color: #777;
  }

  .mat-list-item {
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: none;
    }
  }
}


.loading-container {
  text-align: center;
  padding: 40px;
  color: #777;
}
