

html, body { height: 100%; }
body { margin: 0; font-family: 'Concert One', cursive !important; }

@import './assets/css/colors/color.css';
@import './assets/css/fonts.css';

h1,h2,h3,h4,h6{
  text-align: center !important;
}

h1{
  font-size: 64px !important;
}


.text-center {
  display: flex;
  justify-content: center;
  text-align: center;
}


br{
  line-height: 20px !important;
}

button{
  font-family: 'Concert One', cursive !important;
}


.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}






.mat-calendar-body-cell.dia-disponivel .mat-calendar-body-cell-content {
  background-color: #f0f6ff !important;
  
  border-radius: 50% !important;
  color: #005ce6 !important;
  
  font-weight: 600 !important;
}


.mat-calendar-body-cell-content.mat-calendar-body-selected {
  background-color: #673ab7 !important;
  
  color: white !important;
}


.dia-com-aula .mat-calendar-body-cell-content {
  background-color: #FFCDD2 !important;
  
  border-radius: 50% !important;
  font-weight: bold;
}




.success-snackbar {
  .mdc-snackbar__surface {
    background-color: #4CAF50 !important; 
    color: white !important;
  }

  
  .mdc-button__label {
    color: white !important;
  }
}


.error-snackbar {
  .mdc-snackbar__surface {
    background-color: #f44336 !important; 
    color: white !important;
  }

  
  .mdc-button__label {
    color: white !important;
  }
}
