

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

mat-form-field {
  width: 100%;
}

.modal-loading {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}


.auth-error {
  background-color: #fff0f0;
  color: #c51162;
  padding: 12px;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;

  p {
    margin: 0;
  }
}
