<footer class="site-footer">
  <div class="footer-container">

    <div class="footer-top">

      <div class="footer-column logo-column">
        <h4>Instruindo</h4>
        <p>Conectando alunos e instrutores.</p>
        <div class="footer-social">
        </div>
      </div>

      <div class="footer-column">
        <h4>Minha Conta</h4>
        <ul>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/signup">Cadastre-se</a></li>
          <li><a routerLink="/painel">Meu Painel</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h4>Categorias</h4>
        <ul>
          <li><a href="#">Matemática</a></li>
          <li><a href="#">Português</a></li>
          <li><a href="#">Física</a></li>
          <li><a href="#">Ver todas</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h4>Contato</h4>
        <ul>
          <li><a href="#">contato&#64;instruindo.com</a></li>
          <li><a href="#">(11) 99999-9999</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>

    </div>

    <div class="footer-bottom">
      <p>INSTRUINDO - TODOS OS DIREITOS RESERVADOS</p>
    </div>

  </div>
</footer>
