.font-24px{
  font-size: 24px !important;
}
.font-32px{
  font-size: 32px !important;
}
.font-40px{
  font-size: 40px !important;
}
.font-48px{
  font-size: 48px !important;
}
.font-64px{
  font-size: 64px !important;
}

.font-nunito{
  font-family: 'Nunito', sans-serif !important;
  font-weight: 400 !important;
}

.font-nunito-500{
  font-family: 'Nunito', sans-serif !important;
  font-weight: 500 !important;
}

.font-nunito-700{
  font-family: 'Nunito', sans-serif !important;
  font-weight: 700 !important;
}

.underline{
  text-decoration: underline;
}
